@import url('https://fonts.googleapis.com/css?family=Merriweather+Sans:400,400i,800');
@import url('https://fonts.googleapis.com/css?family=Merriweather:400,400i,800');

$title-font-family: 'Merriweather Sans', sans-serif;
$general-font-family: 'Merriweather', serif;
$normal-weight: 300;
$bold-weight: 700;

$primary-color: #93291b;
$secondary-color: #50413c;
$background-color: white;
$base-font-color: #30231d;
