//html { font-size: 95% } // enlarge base font size

/*  ------------- SECTION -------------  */
div.section {
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-areas: "narrationArea graphArea";

  /*  ------------- NARRATION LIST -------------  */
  .narration_list {

    /*  ------------- NARRATION (block) -------------  */
    .narration {
      h2 {
      }

      p {
      }

      .link {
      }

      .spacer_hide {
      }

      .spacer_show {
      }

      .spacer_show > h3 {
      }
    }

    .narration.active {
    }
  }

  /*  ------------- GRAPHS -------------  */
  div.graph_default,
  div.graph_section_example
  {
  }

  div.graph_default.active,
  div.graph_section_example.active
  {
  }
} // end section
