//html { font-size: 80% } // enlarge base font size


/*  ------------- SCROLL -------------  */
.scroll {
  /*  ------------- SECTION -------------  */
  .section {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-areas: "narrationArea graphArea";

    /*  ------------- NARRATION LIST -------------  */
    .narration_list {

      /*  ------------- NARRATION (block) -------------  */
      .narration {
        h2 {
        }

        p {
        }

        .link {
        }

        .spacer_hide {
        }

        .spacer_show {
        }

        .spacer_show > h3 {
        }
      }

      .narration.active {
      }
    } // end narration

    /*  ------------- GRAPHS -------------  */
    .graph_default,
    .graph_section_example {
      top: 10vh;
      height: 80vh;
    }

    .graph_default.active,
    .graph_section_example.active {
      top: 10vh;
      height: 80vh;
    }// end narration_list
  } // end section
} // end scroll
