@import url('https://fonts.googleapis.com/css?family=Merriweather+Sans');
@import url('https://fonts.googleapis.com/css?family=Merriweather');

$title-font-family: 'Merriweather Sans', sans-serif;
$general-font-family: 'Merriweather', serif;
$normal-weight: 300;
$bold-weight: 700;

$primary-color: #93291b;
$secondary-color: #50413c;
$background-color: white;
$base-font-color: #30231d;

$line-color: #5F5F5F;

$narration-area-padding: 2.5%;
$narration-area-margin: 2.5%;
$narration-inner-margin: 10%;
$spacer-inactive-opacity: 0.4;

$graph-area-padding: 1%;
$graph-area-margin: 1%;
//$graph-background-color: $background-color;
$graph-background-color: gray;
$graph-default-opacity: 0;

