
/*  ------------- TITLE -------------  */
#app {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 8rem auto 3rem;
  grid-template-areas:
          "title" // app specific
          "scroll" // scrollyteller
          "footer"; // app specific
  background-color: $background-color;
}

/*  ------------- TITLE -------------  */
.title {
  margin: 0.5rem;
  padding: 0.5rem;
  @extend h1;
  grid-area: title;
} // end title

.intro {
  grid-area: title;
  margin: 0.5rem;
  padding: 0.5rem;
}

.center {
  text-align: center;
}
