
/*  ------------- TITLE -------------  */
#app {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 6rem auto 3rem;
  grid-template-areas:
          "title" // app specific
          "scroll" // scrollyteller
          "footer"; // app specific

  border: 1px solid #ccc;
  border-radius: 4px;
  margin: 4px;
  padding: 5px;
  background-color: $background-color;
}

/*  ------------- TITLE -------------  */
.title {
  margin: 0.5rem;
  padding: 0.5rem;
  @extend h1;
  grid-area: title;
} // end title
