
#app {
  display: flex;
  flex-direction: column;
  align-content: stretch;
  border: 1px solid #ccc;
  border-radius: 4px;
}

//#view {
//  flex: 1 1;
//  display: flex;
//  flex-direction: column;
//  align-content: stretch;
//  padding: 4px;
//  overflow: scroll;
//}
//
//.outer-container {
//  flex: 1;
//  display: flex;
//  margin: 4px;
//  //overflow: hidden;
//  position: relative;
//}
//
//.inner-container {
//  flex: 1;
//  display: flex;
//}

