
.narration.graph-scroll-active {
  opacity: 1;
}

.spacer_hide, .narration {
  opacity: $spacer-inactive-opacity;
  width: $narration-side-width;
  margin-left: 5%;
  margin-right: $graph-side-width;
  display: block;
}

.spacer_show {
  opacity: $spacer-inactive-opacity;
  width: 100%;
  border: dotted 0.5px;
}

.spacer_show > h3 {
  opacity: $spacer-inactive-opacity;
  text-align: center;
  margin: 1vw 1vw;
}

.link {
  text-align: center;
}

@media (max-width: 925px) {
  .narration,
  .narration.graph-scroll-active
  {
    /* TODO: hide narration until it is above the graph */
    position: relative;
    margin: 0 auto;
  }
}
