h1 {
  color: $base-font-color;
  font-family: $title-font-family;
  font-size: 66px;
  font-weight: 800;
  line-height: 78px;
  letter-spacing: -4px;
  margin-bottom: 72px;
}

h1:after {
  background: $base-font-color;
  content: '';
  display: block;
  height: 12px;
  margin: 43px 0;
  width: 80px;
}

h2 {
  font-size: 30px;
  font-family: $general-font-family;
  letter-spacing: -1px;
  color: $primary-color;
  text-transform: uppercase;
  margin: 10px 0 24px;
  text-align: center;
  line-height: 50px;
}

h3 {
  font-size: 20px;
}

p {
  color: $secondary-color;
  font-family: $general-font-family;
  font-size: 16px;
  font-weight: 500;
  line-height: 30px;
  margin-bottom: 36px;
  //max-width: 500px;
  max-width: 100%;
  text-align: center;
}

a {
  color: $primary-color;
}

a:hover {
  color: $secondary-color;
  text-decoration: blink;
}

body {
  background-color: $background-color;
}



