@import url('https://fonts.googleapis.com/css?family=Merriweather+Sans');
@import url('https://fonts.googleapis.com/css?family=Merriweather');

$primary-color: #93291b;
$secondary-color: #50413c;
$background-color: white;
$base-font-color: #30231d;

$title-font-family: 'Merriweather Sans', sans-serif;
$general-font-family: 'Merriweather', serif;

$line-color: #5F5F5F;

