{
  "presets": [
    ["env", {
      "targets": {
        "browsers": ["last 2 versions"]
      },
      "useBuiltIns": true,
    }],
    "react",
  ],
  "plugins": [
    "add-module-exports",
    "transform-object-rest-spread",
  ],
  "ignore": [
    "node_modules/",
  ],
}