{
  "presets": [
    ["@babel/preset-env", {
      "targets": {
        "browsers": ["last 2 versions"]
      },
      "useBuiltIns": "usage",
      "corejs": "2"
    }],
  ],
  "plugins": [
    "add-module-exports",
    "@babel/plugin-proposal-object-rest-spread",
    "@babel/plugin-proposal-class-properties"
  ],
  "ignore": [
    "node_modules/"
  ],
}
