@import 'variables';

/* Prevent adjustments of font size after orientation changes in IE on Windows Phone and in iOS.  */
html {-webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; }
//html { font-size: 60% } // default font size for small screens

/*  apply a natural box layout model to all elements  */
* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

.flex_vertical_column_all_centered {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;
  justify-content: center;
}

/*  ------------- SCROLL -------------  */
.scroll {
  width: 100%;
  grid-area: scroll;
  /*  ------------- SECTION -------------  */
  .section {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto;
    grid-template-areas:  "graphArea"
                          "narrationArea";

    /*  ------------- NARRATION LIST -------------  */
    .narration_list {
      grid-area: narrationArea;
      justify-content: center;
      padding: 0;
      margin: 0;

      /*  ------------- NARRATION (block) -------------  */
      .narration {
        text-align: left;
        opacity: 0.3;
        margin: $narration-inner-margin;

        h2 {
          padding: 0.5rem 25% 0.5rem 5%;
        }
  
        p {
          padding: 0.5rem 5% 0.5rem 5%;
          text-align: justify;
        }
  
        .link {
          padding: 0.5rem 5% 0.5rem 5%;
          text-align: justify;
        }
      }

      .narration.active {
        margin: $narration-inner-margin;
        opacity: 1;
      }
    }

    /*  ------------- GRAPHS -------------  */
    .graph_container {
      @extend .flex_vertical_column_all_centered;
      grid-area: graphArea;
      position: fixed; // ie doesn't support sticky, so used fixed
      position: sticky;
      padding: 0;
      margin: 0;
      top: 0;
      height: 50vh;
      opacity: $graph-container-default-opacity;
      
      .graph_title {
        font-size: 1.5rem;
      }
      
      .graph_caption {
        font-size: 1rem;
      }
      
      .graph_default {
        @extend .flex_vertical_column_all_centered;
        opacity: $graph-default-opacity;
        background-color: $graph-background-color;
        width: 100%;
        height: 100%;
      }
    }
    
    .graph_container.active {
      top: 0;
      height: 50vh;
      position: sticky;
      padding: 0;
      margin: 0;
    }
  } // end section
} // end scroll


