/*  ------------- SCROLL -------------  */
.scroll {
  /*  ------------- SECTION -------------  */
  .section {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "narrationArea graphArea";

    /*  ------------- NARRATION LIST -------------  */
    .narration_list {
      padding: $narration-area-padding;
      margin: $narration-area-margin;

      /*  ------------- NARRATION (block) -------------  */
      .narration {
        h2 {
        }

        p {
        }

        .link {
        }

        .spacer_hide {
        }

        .spacer_show {
        }

        .spacer_show > h3 {
        }
      }

      .narration.active {
      }
    } // end narration

    /*  ------------- GRAPHS -------------  */
    .graph_default {
      top: 10vh;
      height: 80vh;
      padding: $graph-area-padding;
      margin: $graph-area-margin;
    }

    .graph_default.active {
      top: 10vh;
      height: 80vh;
      padding: $graph-area-padding;
      margin: $graph-area-margin;
    }// end narration_list
  } // end section
} // end scroll
