/*  ------------- SCROLL -------------  */
.scroll {
  /*  ------------- SECTION -------------  */
  .section {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "narrationArea graphArea";

    /*  ------------- NARRATION LIST -------------  */
    .narration_list {
      padding: $narration-area-padding;
      margin: $narration-area-margin;

      /*  ------------- NARRATION (block) -------------  */
      .narration {
        h2 {
        }

        p {
        }

        .link {
        }
      }

      .narration.active {
      }
    } // end narration

    /*  ------------- GRAPHS -------------  */
    .graph_container {
      top: 10vh;
      height: 80vh;
      padding: $graph-area-padding;
      margin: $graph-area-margin;
    } // end graph_container
    
    .graph_container.active {
      top: 10vh;
      height: 80vh;
      padding: $graph-area-padding;
      margin: $graph-area-margin;
    } // end graph_container.active
  } // end section
} // end scroll
