$narration-area-padding: 2.5%;
$narration-area-margin: 2.5%;
$narration-inner-margin: 10%;
$spacer-inactive-opacity: 0.4;

$graph-area-padding: 1%;
$graph-area-margin: 1%;
$graph-background-color: gray;
$graph-default-opacity: 0;

