
.graph_default
{
  opacity: 0; // start hidden
  float: right;
  margin-right: $graph-margin-right;
  margin-left: $graph-margin-left;
  top: 0px;
  width: $graph-width;
  height: $graph-height;
  overflow: hidden;
  position: absolute;
  display: inline-flex;
  background-color: #d8dadd;
}

.graph_default.active
{
  margin-right: $graph-margin-right;
  margin-left: $graph-margin-left;
  width: $graph-width;
  overflow: hidden;
  top: $graph-top;
  position: sticky;
  background-color: #d8dadd;
}

@media (max-width: 925px) {
  .graph_default {
    width: 100%;
    top: $graph-height - $graph-top;
  }
}


