$graph-background-color: transparent;
$graph-default-opacity: 1;
$graph-container-default-opacity: 0;

/* Prevent adjustments of font size after orientation changes in IE on Windows Phone and in iOS.  */
html {-webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; }
//html { font-size: 60% } // default font size for small screens

/*  apply a natural box layout model to all elements  */
* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

.flex_vertical_column_all_centered {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;
  justify-content: center;
}

/*  ------------- SCROLL -------------  */
.scroll {
  width: 100%;
  padding: 1%;
}

/*  ------------- SECTION -------------  */
.section {
  display: flex;
  flex-direction: row-reverse;
}

/*  ------------- NARRATION LIST -------------  */
.narration_list {
  justify-content: center;
  margin: 0;
  padding: 2.5%;
  flex: 1;
  min-width: 50%;
  max-width: 30rem;
}

/*  ------------- GRAPHS -------------  */
.graph_container {
  @extend .flex_vertical_column_all_centered;
  flex: 1;
  position: fixed; // ie doesn't support sticky, so used fixed
  position: sticky;
  opacity: $graph-container-default-opacity;
  top: 15vh;
  height: 80vh;
  padding: 0;
  margin: 0;
  min-width: 50%;
}

.graph_container.active {
  position: sticky;
}

.graph_title {
  font-size: 1.5rem;
  max-width: 70%;
}

.graph_caption {
  font-size: 1rem;
  max-width: 70%;
}

.graph_default {
  @extend .flex_vertical_column_all_centered;
  opacity: $graph-default-opacity;
  background-color: $graph-background-color;
  width: 100%;
  height: 100%;
}

/*  ------------- NARRATION (block) -------------  */
.narration,
.narration.active
{
  text-align: left;
  opacity: 0.3;
  margin: 0 1%;
}

.narration.active {
  opacity: 1;
}

.narration h2 {
  padding: 0.5rem 25% 0.5rem 5%;
}

.narration p {
  padding: 0.5rem 5% 0.5rem 5%;
  text-align: justify;
}

.narration .link {
  padding: 0.5rem 5% 0.5rem 5%;
  text-align: justify;
}

.narration a {
  padding: 0;
}
