/* override defaults for a graph (for sizing, also override _medium.scss and _large.css) */
#graph_introduction_container {
  opacity: 1;
}

#graph_introduction {
  background-color: transparent;
  width: 100%;
  height: 100%;
}

#graph_introduction img {
  width: 90%;
  height: 90%;
}
