@import '../../scss/variables';

.dashed {
  border: black;
  border-style: dashed;
  border-width: medium;
}

/* override defaults for a graph (for sizing, also override _medium.scss and _large.css) */
.scroll {
  .section {
    .graph_container {
      .graph_default.graph_myExampleSection0,
      .graph_default.graph_myExampleSection0.active {
        width: 80%;
        height: 80%;
      }
    }
  }
}

#section_myExampleSection0 {
  .narration-content {
    p pre {
      text-align: left;
      padding: 2%;
      border: darkgray;
      background: #e4effd;
      border-width: thin;
      border-style: solid;
      border-radius: 10px;
      word-wrap: break-word;
      white-space: pre-wrap;
    }
  }
  
  /*  ------------- FOR NARRATION CONTENT WITH ID = outline -------------  */
  #narration_outline {
    .narration-content {
      border: #30231d;
      border-width: medium;
      border-style: dashed;
      padding: 10px;
      
      h2 {
        padding: 3px;
        margin: 5px;
        border: $primary-color;
        border-width: medium;
        border-style: dashed;
      }
      p {
        padding: 3px;
        margin: 5px;
        border: $secondary-color;
        border-width: medium;
        border-style: dashed;
      }
      
      div.link {
        p {
          border: none;
        }
        padding: 3px;
        margin: 5px;
        border: $primary-color;
        border-width: medium;
        border-style: dashed;
      }
    }
  }
}
